{:kotoba.app/id "cloud.itonami.isic-4312", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidf37s7efr4kdbs3dxyepne6i2pss6wisr4jcst3xvf4swjm4k3pi", :kotoba.app/embed-url "ipfs://bafkreidf37s7efr4kdbs3dxyepne6i2pss6wisr4jcst3xvf4swjm4k3pi", :published {:archive "https://kotobase.net/ipfs/bafkreidf37s7efr4kdbs3dxyepne6i2pss6wisr4jcst3xvf4swjm4k3pi", :size 72602, :put-status 201, :get-status 200, :at "2026-08-15T14:03:22.077Z"}}
